<nav >
  <a [routerLink]="['']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Encashment</a>
  <a [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Settings</a>
  <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Reports</a>
  <a [routerLink]="['/tools']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Tools</a>
  <a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Search</a>

</nav>
