
<div>
  <md-card class="register_form" style="height:600px;">
    <div class="container" >
            <div class="title">
                Welcome
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="input-field col s12">
                        <md-input [(ngModel)]="user.email" id="email" 
                            type="email" placeholder="admin@admin.com" class="validate"></md-input>
                    </div>
                </div>
 
                <div class="row">
                    <div class="input-field col s12">
                        <md-input [(ngModel)]="user.password" id="password" 
                            type="password" class="validate" placeholder="admin"></md-input>
                    </div>
                </div>
 
                <span>{{errorMsg}}</span>
                <button (click)="login()" 
                    class="btn waves-effect waves-light" 
                    type="submit" name="action">Login</button>
            </div>
        </div>
  </md-card>
</div>
