<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-content>
    <form>
      <table style="width: 100%" cellspacing="2" ><tr>
        <td><md-input placeholder="Username" style="width: 100%"></md-input></td>
              </tr>
              <tr>
                <td><md-input type="password" placeholder="Password" style="width: 100%"></md-input></td>

              </tr>
              <button md-raised-button color="primary" style="text-align:left">Login</button>
              <a routerLink="/register" routerLinkActive="active">Register</a>
          </table>

    </form>
  </md-card-content>
</md-card>
