<div fxLayout="row" fxLayoutAlign="center center">
    <md-card class="login_form" fxLayout="column" fxLayoutAlign="center center" fxFlex="30%">
        
        <div class="input_div">
            <md-input [(ngModel)]="user.email" id="email" 
                    type="email" placeholder="admin@admin.com" class="validate"></md-input>
        </div>

        <div class="input_div">
            <md-input [(ngModel)]="user.password" id="password" 
                    type="password" class="validate" placeholder="admin"></md-input>
        </div>
        <div  fxLayout="row" fxLayoutAlign="center center">
            <button (click)="login()" md-raised-button color="primary"
                type="submit" name="action">
                Login
            </button>
        </div>

        <span>{{errorMsg}}</span>
            
    </md-card>
</div>
