<div fxLayout="row" fxLayoutAlign="center center">
  <md-card class="card_align" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxFlex="85%" style="height:620px;">

    <form class="example-form" >
      <md-input-container>
        <input md-input placeholder="Cash Hub" value="Serial Number" [(ngmodel)]="serialNumber">

      </md-input-container>
      <table >
        <tr>
          <td>
            <md-input-container>
              <input md-input placeholder="Name" [(ngmodel)]="dataModel.name">
            </md-input-container>

          </td>
          <td>
            <md2-datepicker [(ngmodel)]="date"></md2-datepicker>

          </td>
        </tr>
      </table>
      <div class="register_card" fxFlex="45%">
      <p>
        <md-input-container>
          <textarea md-input placeholder="Address" [(ngmodel)]="dataModel.address"></textarea>
        </md-input-container>

        <md-input-container >
          <textarea md-input placeholder="Remarks" [(ngmodel)]="dataModel.remarks"></textarea>
        </md-input-container>
      </p>
    </div>
      <table >
        <tr>

          <td>
            <md-input-container >
              <input md-input placeholder="ID Card No." [(ngmodel)]="dataModel.idNumber">
            </md-input-container>
          </td>


        </tr>
      </table>

      <table >
        <tr>
          <td>
            <md-input-container >

              <input md-input placeholder="Phone No." formControlName="phoneNumber">

            </md-input-container>
          </td>
          <td>
            <md-input-container >

              <input md-input placeholder="Mobile No." formControlName="mobileNumber">
            </md-input-container>
          </td>
          <td>
            <md2-autocomplete
            [items]="currency"
                      item-text="name"
                      (change)="change($event)"
                      placeholder="Nationality"
                      [(ngModel)]="dataModel.nationality"
                      >
            </md2-autocomplete>
        </td>
        <td>

      </td>
      <td>
        <div formArrayName="items">
           <div *ngFor="let item of myForm.controls.items.controls; let i=index">
               <div [formGroupName]="i">
                 <md2-autocomplete [items]="currency"
                           item-text="currency"
                           (change)="handleChange($event)"
                           placeholder="Currency purchased"
                           formControlName="currencyName"
                           >
                 </md2-autocomplete>
                 <md-input-container >
                   <input md-input placeholder="Present rate" [value]="presentRate" formControlName="presentRate"  >
                 </md-input-container>
                 <md-select placeholder="Currency Type" name="cTypes" formControlName="currencyType">
                   <md-option *ngFor="let currencyType of cTypes" [value]="currencyType.viewValue">
                     {{currencyType.viewValue}}
                   </md-option>
                 </md-select>
               </div>
           </div>
        </div>


    </td>
        </tr>
      </table>

      <md-input-container >

        <input md-input placeholder="Amount" >
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Rupee Equivalent" >
      </md-input-container>

      <md-input-container >
        <input md-input placeholder="Tax %" value="14" formControlName="tax">
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Tax Amount"  value="Tax" formControlName="taxAmount">
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Grand Total"  value="Total" formControlName="grandTotal">

      </md-input-container>



      <div fxFlex="90%" >
           <ngx-datatable class="material" [rows]="rows" [columns]="columns">
          </ngx-datatable>
     </div>

      <button md-raised-button color="primary" type="submit" >Save</button>
      <button md-raised-button color="warn">Remove selected currency</button>
      <button md-raised-button color="primary">Add</button>
      <button md-raised-button color="accent">Edit</button>
    </form>
  </md-card>
</div>
