<div fxLayout="row" fxLayoutAlign="center center">
  <md-card class="card_align" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxFlex="85%" style="height:620px;">

    <form class="example-form" >
      <md-input-container>
        <input md-input placeholder="Cash Hub" value="Serial Number" [(ngmodel)]="serialNumber">

      </md-input-container>
      <table >
        <tr>
          <td>
            <md-input-container>
              <input md-input placeholder="Name" [(ngmodel)]="dataModel.name">
            </md-input-container>

          </td>
          <td>
            <md2-datepicker [(ngmodel)]="date"></md2-datepicker>

          </td>
        </tr>
      </table>
      <div class="register_card" fxFlex="45%">
      <p>
        <md-input-container>
          <textarea md-input placeholder="Address" [(ngmodel)]="dataModel.address"></textarea>
        </md-input-container>

        <md-input-container >
          <textarea md-input placeholder="Remarks" [(ngmodel)]="dataModel.remarks"></textarea>
        </md-input-container>
      </p>
    </div>
      <table >
        <tr>

          <td>
            <md-input-container >
              <input md-input placeholder="ID Card No." [(ngmodel)]="dataModel.idNumber">
            </md-input-container>
          </td>


        </tr>
      </table>

      <table >
        <tr>
          <td>
            <md-input-container >
              <input md-input placeholder="Phone No." [(ngmodel)]="dataModel.phoneNumber">
            </md-input-container>
          </td>
          <td>
            <md-input-container >
              <input md-input placeholder="Mobile No." [(ngmodel)]="dataModel.mobileNumber">
            </md-input-container>
          </td>
          <td>
            <md2-autocomplete [items]="currency"
                      item-text="name"
                      (change)="change($event)"
                      placeholder="Nationality"
                      [(ngModel)]="dataModel.nationality"
                      >
            </md2-autocomplete>
        </td>
        <td>
          <md2-autocomplete [items]="currency"
                    item-text="currency"
                    placeholder="Currency purchased"
                    [(ngmodel)]="dataModel.currency.currencyName"
                    >
          </md2-autocomplete>
      </td>
      <td>
      <md-select placeholder="Currency Type" name="food" [(ngmodel)]="dataModel.currency.currencyType"></FormControlNam>>
        <md-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </md-option>
      </md-select>
    </td>
        </tr>
      </table>

      <md-input-container >
        <input md-input placeholder="Amount" [(ngmodel)]="dataModel.totalCost">
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Present Rate" [(ngmodel)]="dataModel.currency.presentRate" >
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Rupee Equivalent" [(ngmodel)]="dataModel.currency.amount">
      </md-input-container>

      <md-input-container >
        <input md-input placeholder="Tax %" value="14" [(ngmodel)]="dataModel.tax">
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Tax Amount"  value="Tax" [(ngmodel)]="dataModel.taxAmount">
      </md-input-container>
      <md-input-container >
        <input md-input placeholder="Grand Total"  value="Total" [(ngmodel)]="dataModel.grandTotal">
      </md-input-container>



      <div fxFlex="90%" >
           <ngx-datatable class="material" [rows]="rows" [columns]="columns">
          </ngx-datatable>
     </div>

      <button md-raised-button color="primary" type="submit" >Save</button>
      <button md-raised-button color="warn">Remove selected currency</button>
      <button md-raised-button color="primary">Add</button>
      <button md-raised-button color="accent">Edit</button>
    </form>
  </md-card>
</div>
